.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 24px;
}

.heatMapHorisontal {
    display: grid;
}

.heatMapVertical {
    display: grid;
}




