.diagramContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.circlePlotContainer {
    flex-grow: 1;
    position: relative;
    margin-right: 40px;
}

.circlePlotContainer > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.circlePlotContainer > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(calc(-50%)) translateY(-50%);
    text-align: center;
    word-wrap: normal;
}

.circlePlotContainer > div > p:nth-child(1) {
    margin-bottom: 8px;
}

.categoriesContainer {
    flex-grow: 1;
}

.firstPlaceColor {
    background-color: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%);
    box-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
}

.secondPlaceColor {
    background-color: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);
    box-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
}

.thirdPlaceColor {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(155, 155, 155, 0.5) 71.88%, rgba(56, 41, 0, 0.5) 100%);
    box-shadow: 0px 0px 20px -8px rgba(96, 96, 96, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(38, 38, 38, 0.9);
}

.fourthPlaceColor {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(77, 77, 77, 0.5) 71.88%, rgba(56, 41, 0, 0.5) 100%);
    box-shadow: 0px 0px 20px -8px rgba(96, 96, 96, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(38, 38, 38, 0.9);
}
