/* people card component */
.peopleCard {
    position: relative;
    display: flex;
    padding-top: 22px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: transparent;
}

.unicode {
    display: block;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    height: 32px;
}


.peopleCard > img {
    width: calc(64px);
    height: calc(64px);
    border-radius: 50%;
    margin-bottom: 6px;
}

.peopleCard > p {
    margin-bottom: 4px; 
}

@media only screen and (min-width: 1000px) {
    .peopleCard > img {
      width: calc(64px + 0.8vh + 0.8vw);
      height: calc(64px + 0.8vh + 0.8vw);
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .peopleCard > p {
        margin-bottom: 1rem;
        padding-right: 18px;
        padding-left: 18px; 
    }
}