.categoriesItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
}

.categoriesItem > div:nth-child(2) > span:nth-child(2) {
    margin-left: 16px;
}

.categoriesItem > div:nth-child(1) {
    display: flex;
}

.categoriesItem > div:nth-child(1) > p {
    margin-left: 10px;
}

.categoriesItem > div:nth-child(1) > span {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

