.ChartPeopleCard {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
}

.ChartPeopleCard > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
} 

.ChartPeopleCard > div > p {
    white-space: nowrap;
}


@media only screen and (min-width: 900px) {
    .ChartPeopleCard > img {
        width: calc(40px + 0.5vw + 0.5vh);
        height: calc(40px + 0.5vw + 0.5vh);
        margin-right: calc(14px + 0.5rem);
    }
}