.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    margin: 0 4px;
    text-align: center;
    width: 60px;
}

.item > div {
    display: flex;
    align-items: center;
    height: 12px;
    border-radius: 2px;
    margin-bottom: 8px;
}

.item > div > svg {
    width: 100%;
}


@media only screen and (min-width: 100px) {
    .container {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@media only screen and (min-width: 550px) {
    .container {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .item {
        width: 60px;
    }

    .item > div > svg {
        width: 60px;
    }
}


@media only screen and (min-width: 800px) {
    .item {
        width: calc(60px + 0.5vw + 0.5rem);
    }

    .item > div > svg {
        width: calc(60px + 0.5vw + 0.5rem);
    }
}




