.peopleItem {
    text-align: center;
    width: 40px;
    margin-left: 12px;
    margin-right: 12px;
    flex-shrink: 0;
    flex-basis: 40px;
}

.valueStyle {
    margin-bottom: 8px;
}

.titleStyle {
   margin-top: 12px;
}

@media only screen and (min-width: 900px) {
    .valueStyle {
        margin-bottom: calc(8px + 0.5rem);
    }

    .titleStyle {
        margin-top: calc(12px + 0.5rem);
    }

    .peopleItem {
        width: calc(40px + 1rem);
        flex-basis: calc(40px + 1rem);
    }
}

@media only screen and (max-width: 350px) {
    .peopleItem {
        padding-top: 0px !important;
    }
}