/* all needed fonts */
@font-face {
    font-family: 'Roboto Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

/* global variables */
:root {
    /* colors */
    --black-color: rgba(38, 28, 0, 1);
    --orange-color: rgba(244, 176, 0, 1);
    --grey-color: rgba(145, 143, 138, 1);
    --grey-light-color: rgba(191, 191, 191, 1);
    --white-color: rgba(252, 251, 247, 1);

    /* background colors with difference theme */
    --theme-dark-bc: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%);
    --theme-light-bc: #ffffff;
}

/* drop default styles */
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


body {
    height: 100vh;
    overflow: hidden;
}

/* dependence background-color of app from theme */
body.theme_dark {
    background: radial-gradient(
        70.24% 70.24% at 49.87% 29.76%,
      rgba(19, 14, 0, 0.9) 0%, 
      #000000 100%
    );
}

body.theme_light {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 0;
}


/* root font styles */
.fontHeadline {
    font-family: 'Roboto Bold', serif;
    font-size: 30px;
    line-height: 32px;
    font-style: normal;
}

.fontSubhead {
    font-family: 'Roboto Bold', serif;
    font-size: 20px;
    line-height: 22px;
    font-style: normal;
}

.fontBody {
    font-family: 'Roboto Medium', serif;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
}

.fontCaption {
    font-family: 'Roboto Regular', serif;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
}


/* color fonts with light theme */
.theme_light .fontHeadline, .fontSubhead, .fontBody, .fontCaption {
    color: var(--black-color) !important;
}

.theme_light .fontHeadline.grayText, .fontSubhead.grayText, .fontBody.grayText, .fontCaption.grayText  {
    color: var(--grey-light-color) !important;
}

/* color fonts with dark theme */
.theme_dark .fontHeadline, .fontSubhead, .fontBody, .fontCaption {
    color: var(--white-color) !important;
}

.theme_dark .fontHeadline.grayText, .fontSubhead.grayText, .fontBody.grayText, .fontCaption.grayText  {
    color: var(--grey-color) !important;
}



/* main container for app */
.container {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* barchart dark background color, box shadow  */
.theme_dark .barChart.leading {
    background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), 
                inset 0px 6px 15px rgba(255, 162, 0, 0.4);
}

.theme_dark .barChart {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), 
                radial-gradient(149.08% 93.3% at 38.75% 72.1%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), 
                inset 2px 2px 16px rgba(103, 103, 103, 0.6);
}

/* barchart light background color, box shadow */
.theme_light .barChart.leading {
    background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
                inset 0px 0px 20px rgba(255, 176, 57, 0.8);
}

.theme_light .barChart {
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), 
                inset 0px 0px 20px rgba(207, 207, 207, 0.5);
}
  


@media only screen and (min-width: 100px) {
    .fontBody {
        font-size: 13px;
    }
}

@media only screen and (min-width: 350px) {
    .fontBody {
        font-size: 16px;
    }
}

@media only screen and (min-width: 100px) {
  .container {
    max-width: calc(100% - 48px) !important;
  }
}
  
@media only screen and (min-width: 600px) {
  .container {
    max-width: calc(100% - 104px) !important;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 85% !important;
  }
}









