body {
    height: 100vh;
    background-color: black;

    overflow: hidden;

    text-align: center;
    display: flex;

    margin: 0;
    
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
}

::-webkit-scrollbar {
    width: 0;
}